# Dynamic base16 theme managed by flavours.
wezterm/base16_theme.lua
nvim/lua/base16_colors.lua
helix/themes/base16.toml

# Tmux plugins
tmux/plugins/

# Spicetify config (only keep the generic base16 theme folder)
spicetify/*
spicetify/Themes/base16/color.ini
!spicetify/Themes

# BetterDiscord themes
BetterDiscord/*

# Zed configuration
zed/*
!zed/settings.json

# Zathura colors
zathura/colors.conf

# Kitty colors
kitty/*
!kitty/kitty.conf

# Hyprland colors
hypr/colors.conf

# Rofi colors
rofi/themes/

# Wlogout colors
wlogout/colors.css
