[Base16]
; Base16 adaptation of the Spicetify Sleek theme
text               = {{base05-hex}}
subtext            = {{base06-hex}}
nav-active-text    = {{base04-hex}}
main               = {{base00-hex}}
sidebar            = {{base00-hex}}
player             = {{base00-hex}}
card               = {{base00-hex}}
shadow             = {{base00-hex}}
main-secondary     = {{base02-hex}}
button             = {{base0C-hex}}
button-secondary   = {{base04-hex}}
button-active      = {{base0C-hex}}
button-disabled    = {{base02-hex}}
nav-active         = {{base03-hex}}
play-button        = {{base0D-hex}}
tab-active         = {{base01-hex}}
notification       = {{base01-hex}}
notification-error = {{base01-hex}}
playback-bar       = {{base06-hex}}
misc               = FFFFFF
