/**
 * Base16 {{scheme-name}} ROFI Color theme
 *
 * Authors
 *  Scheme: {{scheme-author}}
 */

* {
    /* Style */
    font:               "JetBrains Mono Nerd Font 10";
    border-width:       1px;
    border-radius:      20px;

    /* Colors */
    background: rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.4);
    background-light:   rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.1);
    accent-color:       #{{base0D-hex}}ff;
    text:               #{{base05-hex}}ff;
}
