/* Wlogout style */

@import "./colors.css";

window {
  font-family: JetBrainsMono;
  font-size: 16pt;
  color: @text;
  background-color: @background;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 36px;
  border: 0;
  margin: 10px;
}

button:focus {
  box-shadow: none;
  background-size: 20%;
  outline: none;
}

button:hover {
  background-size: 30%;
  background-color: @background-light;
  color: transparent;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.5s ease-in;
}

#shutdown {
  background-image: image(url("./icons/power.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#reboot {
  background-image: image(url("./icons/restart.png"));
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#hibernate {
  background-image: image(url("./icons/hibernate.png"));
}
