/**
 * Base16 {{scheme-name}} ROFI Color theme
 *
 * Authors
 *  Scheme: {{scheme-author}}
 */

@define-color background rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.4);
@define-color text #{{base05-hex}};
@define-color accent #{{base0D-hex}};

