/**
 * Base16 {{scheme-name}} ROFI Color theme
 *
 * Authors
 *  Scheme: {{scheme-author}}
 */

@define-color background rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.4);
@define-color background-light rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.1);
@define-color text #{{base05-hex}};

