# Tmux catppuccin plugin custom theme

# Base16 {{scheme-name}}
# Scheme by {{scheme-author}}


# Catppuccin Base16
thm_bg="#{{base00-hex}}"
thm_fg="#{{base07-hex}}"
thm_cyan="#{{base0C-hex}}"
thm_black="#{{base00-hex}}"
thm_gray="#{{base02-hex}}"
thm_magenta="#{{base0E-hex}}"
thm_pink="#{{base0E-hex}}"
thm_red="#{{base08-hex}}"
thm_green="#{{base0B-hex}}"
thm_yellow="#{{base0A-hex}}"
thm_blue="#{{base0D-hex}}"
thm_orange="#{{base09-hex}}"
thm_black4="#{{base04-hex}}" # Light gray
