-- Lua theme configuration template for Wezterm
-- Using lua allows to configure the tab bar colors as well

-- Base16 {{scheme-name}}
-- Scheme by {{scheme-author}}

local colors = {
  foreground = '#{{base05-hex}}',
  background = '#{{base00-hex}}',
  cursor_bg = '#{{base05-hex}}',
  cursor_fg = '#{{base00-hex}}',
  cursor_border = '#{{base05-hex}}',
  selection_fg = '#{{base00-hex}}',
  selection_bg = '#{{base05-hex}}',

  ansi = {
    '#{{base00-hex}}',
    '#{{base08-hex}}',
    '#{{base0B-hex}}',
    '#{{base0A-hex}}',
    '#{{base0D-hex}}',
    '#{{base0E-hex}}',
    '#{{base0C-hex}}',
    '#{{base05-hex}}'
  },
  brights = {
    '#{{base03-hex}}',
    '#{{base08-hex}}',
    '#{{base0B-hex}}',
    '#{{base0A-hex}}',
    '#{{base0D-hex}}',
    '#{{base0E-hex}}',
    '#{{base0C-hex}}',
    '#{{base07-hex}}'
  },

  tab_bar = {
    background = '{{base01-hex}}',

    active_tab = {
      bg_color = '{{base00-hex}}',
      fg_color = '{{base07-hex}}',
    },

    inactive_tab = {
      bg_color = '{{base01-hex}}',
      fg_color = '{{base04-hex}}',
    },

    inactive_tab_hover = {
      bg_color = '{{base02-hex}}',
      fg_color = '{{base07-hex}}',
    },

    new_tab = {
      bg_color = '{{base01-hex}}',
      fg_color = '{{base04-hex}}',
    },

    new_tab_hover = {
      bg_color = '{{base02-hex}}',
      fg_color = '{{base07-hex}}',
    },
  },
}

return colors
